debug
release
snxcomm/Makefile*
*/.qmake.stash
Archive_and_unused/
__pycache__
*.pro.user*
target
Gerber
*.FCStd1
BoostControllerFirmwareF103/src/BoostControllerFirmwareF103.gpdsc
*-bak
Electrical/STM32F103/BoostControllerBluePill/BoostController-backups/